/* body {
  background-color: #090b1a;
} */
* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

body {
  min-width: 100vh;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
}

.main-container {
  max-width: 1020px;
  margin: 0 auto;
}

.second-container {
  background-color: aqua;
  display: grid;
  border-radius: 15px;
  overflow: hidden;
  margin: 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}
